* 
{
    /* outline: 2px solid red; */
    font-family: 'Roboto', 'Times New Roman' ,sans-serif;
    
}

h1
{
    color: #f9faf7;
    font-size: 24px;
    
}

h2
{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

body
{
    margin: 0px;
}

#FirstSection
{
    background-color: #1f2937;
    padding: 0 220px;
    display: flex;
    flex-direction: column;
    
}

#firstTop
{
    flex: auto;
    display: flex;
    justify-content: space-between;
    
    
}

#headerLogo
{
    flex: 0 1 auto;
    
}

#headerLinksBox
{
    display: flex;
    flex: 0 1 auto;
    justify-content: space-evenly;
    gap: 10px;
    
}

.header_link 
{
    flex:0 1 auto;
   
}

#firstBottom
{
    display: flex;
    flex: auto;
    gap: 50px;
    padding: 80px 0px;
}

#firstBottom .left
{
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
    width: 400px;
    /* align-items: flex-end; */
}

#heroMaintxt
{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf7;
    flex: 0 0 auto;
    
    height: auto;
    margin: 0;
    
}

#heroSecondarytxt
{
    color: #e5e7eb;
    flex: 0 0 auto;
    margin: 0;
    font-size: 18px;
}

.signUpButton
{
    background-color: #3882f6;
    width: fit-content;
    color: #f9faf7;
    font-size: 18px;
    border-width: 0px;
    font-weight: 600;
    flex: 0 0 auto;
    margin-top: 18px;
    padding: 5px 30px;
    border-radius: 10px;
    cursor: pointer;
}

#firstBottom .right
{
    flex: auto;
    width: 400px;
}

#firstBottom .right img
{
    width: 100%;
    height: auto;
}

#secondSection
{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 40px 200px 100px 200px;
    
}

#secondSection .top
{
    flex:auto;
    color: #1f2937;
    align-self: center;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 40px;
}

#secondSection .bottom
{
    flex: auto;
    display: flex;
    justify-content: space-between;
}

.imgAndDescription
{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: min-content;
    
    /* width: fit-content; */
}

.roundedCorner
{
    border-radius: 25px;
}

.squareImgContainer
{
    /* border-radius: 25px; */
    border: 4px solid #3b82f6;
    padding: 20px;
    width: fit-content;
    height: 165px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.squareImgContainer img
{
    width: auto;
    height: 100%;
    flex: 0 0 auto;
    
}

.imgAndDescription p
{
    flex: 0 0 auto;
    align-self: center;
    width: auto;
    text-align: center;
}

#thirdSection
{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px 220px;
}

.quote
{
    font-size: 37pt;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    flex: auto;
}

.citation
{
    text-align: right;
    color: #1f2937;
    font-weight: 700;
    font-size: 20pt;
}

#fourthSection
{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 100px 220px;
}



#CallToAction
{
    background-color: #3b82f6;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#CallToAction .left *
{
    margin: 10px 0px;
}

#CallToAction .left 
{
    flex: 0 1 auto;
    
}

#CallToAction .left .title
{
    color: white;
    font-size: x-large;
    font-weight: 700;
}

#CallToAction .left .persuasiveTxt
{
    color: white;
    
}

.readNowButton
{
    flex: 0 1 auto;
    width: fit-content;
    height: fit-content;
    border: 2px solid white;
}

footer
{
    background-color: #1f2937;
    color: #f9faf7;
    padding: 10px 220px;
    text-align: center;
}

